
.container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.logo img {
    position: absolute;
    top: 20px;
    left: 12px;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    vertical-align: middle;
    animation: rotate-avatar infinite 10s linear;
    -webkit-animation: rotate-avatar infinite 10s linear;
    -moz-animation: rotate-avatar infinite 10s linear;
}

.logo span {
    font-size: 20px;
    color: white;
    position: absolute;
    top: 20px;
    left: 65px;

}

.menu {
    height: 100%;
    padding-top: 75px;
}

.switch {
    position: absolute;
    right: 4px;
    bottom: 36px;
}

.ant-layout-sider-collapsed .name {
    display: none;
}

/* 隐藏ant自带的trigger */
.ant-layout-sider-trigger {
    display: none;
}

.ant-layout-sider-children {
    height: 100%;
}

.ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
    display: none;
}

.ant-menu-submenu-vertical .ant-menu-submenu-title span span {
    display: none;
}

@keyframes rotate-avatar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate-avatar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-moz-keyframes rotate-avatar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



